{
  "presets": [
    [ "@babel/preset-env", {
       "targets": {
         "node": "10"
       },
     } ]
  ],

  "plugins": [
    // let result = "hello"
    //   |> doubleSay
    //   |> capitalize
    //   |> exclaim;
    // result //=> "Hello, hello!"
    [ "@babel/plugin-proposal-pipeline-operator", {
      "proposal": "minimal"
    } ]
  ]
}
